body {
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
}

#container div {
    height: 25px;
    width: 25px;
    background-color: red;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#reset {
    padding: 10px;
    background-color: lightcoral;
    border-radius: 5px;
}
